.container-fluid {
    width: 60%;
}
.col-md-6 {
    margin-bottom: 5%;;
}
.holder-left{
    margin-left: 50%;
}
.col{
    margin-left: 2%;
}
.submit{
    width: 100%;
}
h4{
   margin-top: 10px;
}
.holder-center {
    width: 50%;
    margin: auto;
}
.submit{
    margin-bottom: 5%;
}
.form-control{
    resize: none;
}